.menu_container{
    text-align:center;
    height:100%;
    border: 1px solid #C6CACD;
    bottom: 0;
    margin-left: 0.1%;
    margin-right: 0.1%;
    position: absolute;

}
.tab_containers>div{
    display:none;
}
.container{
    width:100%;
    padding-top:20px;
}
.main{
    position:absolute;
    left:25%;
}
.container>.row{
    position:relative;
    height:100%;
}

.fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}

.content{
    padding:2%;
}

.table thead input{
    font-size: 16px;
    margin:3px;
    font-weight: bold;
    padding:2px;
}

.preview_chart{
    padding:50px;
}

.handsontable table{
    width:30% !important;
}

h3{
text-transform: uppercase;
font-weight: 600;
font-size: 13px;
letter-spacing: 1px;
margin: 20px 0px;
margin-top: 30px;
border-bottom: 1px solid #ddd;
padding: 10px 0px;
padding-bottom: 0px;
text-shadow: 0px 1px #fff;
color: #999;
}

input[type="radio"]{
    margin-left: 10px;
}

textarea.form-control{
    border-left:3px solid #4E6CA3 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/**
.container>.row{
    position:relative;
}
.container .menu_container{
    text-align:center;
    height:100%;
    border: 1px solid #C6CACD;
    bottom: 0;
    margin-left: 0.1%;
    margin-right: 0.1%;
    position: absolute;
    width: 99.8%;
}
**/
.container .row .menu_container{
    background: #F7F7F9;
}

.menu_content>div{
	display:none;
}
.menu_content>div.active{
	display:block;
}

.new_data{
	text-align:left;
}

textarea.form-control {
	font-size:10px;
}

.new_data{
    display:none;
}
.table{
    font-size:11px;
}
