<div class="container">
  <div class="row">

    <div class="col-xs-7" style="text-align:center;">
    	<div ac-chart="sharedData.chartType" ac-data="data1" ac-config="config" id='chart' class='chart'></div>
    </div>

    <div class="col-xs-5">
      <form class="form-horizontal" role="form">
        <!-- accordion -->
        <accordion close-others="oneAtATime">

          <!-- BASIC -->
          <accordion-group heading="Basic" is-open="basic.open" ng-init="basic.open=false;">

            <accordion-heading>
                Basic <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': basic.open, 'glyphicon-chevron-right': !basic.open}"></i>
            </accordion-heading>

            <div class="form-group">
              <label for="Title" class="col-sm-2 control-label">Type Chart</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="sharedData.chartType" ng-options="chart for chart in kindCharts"></select>
              </div>
            </div>

            <div class="form-group">
              <label for="Title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input class="form-control" ng-model="config.title" placeholder="Title">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="config.labels"> labels
                  </label>
                </div>
              </div>
            </div>

          </accordion-group>

          <!-- LEGEND -->
          <accordion-group is-open="legend.open" ng-init="legend.open=false;">

            <accordion-heading>
                Legend <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': legend.open, 'glyphicon-chevron-right': !legend.open}"></i>
            </accordion-heading>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="config.legend.display"> legends
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group" ng-show="sharedData.chartType==='line'">
              <label for="label" class="col-sm-2 control-label">Legend Type</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="config.lineLegend" ng-options="k for k in kindLegend"></select>
              </div>
            </div>

            <div class="form-group">
                <label for="Title" class="col-sm-2 control-label">legend position</label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="config.legend.position" placeholder="position">
                </div>
            </div>

          </accordion-group>
          <!-- Data -->
          <accordion-group is-open="status.open" ng-init="status.open=true;">
            
            <accordion-heading>
                Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            
            <div class="form-group">
              <alert ng-show="!sharedData.dataset">First you need to select a dataset</alert>
              <label for="dataset" class="col-sm-2 control-label">DataSet</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="sharedData.dataset" ng-options="v.id as v.title for (k,v) in datasets"></select>
              </div>
            </div>

            <hr/>
            
            <fieldset ng-if="sharedData.dataset">
            
              <alert ng-show="!sharedData.titleColumn && sharedData.dataset">Then you need to select what column is for label</alert>

              <div class="form-group" >
                <label for="label" class="col-sm-2 control-label">Label Column</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-change="computeData();" ng-model="sharedData.titleColumn" ng-options="column.field as column.title for column in datasets[sharedData.dataset].titles"></select>
                </div>
              </div>

              <alert ng-show="sharedData.titleColumn && (!sharedData.valueColumns[0].id || !sharedData.valueColumns[0].value)">Then you need to select what column is for a serie and choose the name of the serie</alert>
              
              <div ng-repeat="vc in sharedData.valueColumns" class="form-group" ng-show="sharedData.titleColumn">
                <label for="label" class="col-sm-2 control-label">Serie</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-model="vc.id" ng-change="computeData();" ng-options="column.field as column.title for column in datasets[sharedData.dataset].titles"></select>
                  <input class="form-control" ng-model="vc.value" ng-change="computeData();" placeholder="name"> 
                  
                  <div colorpicker="rgba" 
                       class="colorpicker_preview" 
                       ng-model="config.colors[$index]" 
                       style="background-color:{{config.colors[$index]}};"></div>
                  
                  <input colorpicker="rgba" 
                         style="margin-top:3px;" 
                         ng-model="config.colors[$index]" 
                         type="text">
                </div>
              </div>
              
              <a class="pull-right btn btn-default" ng-click="sharedData.valueColumns.push({ id:'', value:''});">Add new Serie</a>

            </fieldset>

          </accordion-group>
        </accordion>

        <p style="padding:20px;padding-left:30px;">

          <a class="btn btn-success"
             ng-disabled="!sharedData.titleColumn || !sharedData.valueColumns[0].id"
             ng-click="saveData()">Save</a>

          <a class="btn btn-danger"
             ng-disabled="!sharedData.titleColumn || !sharedData.valueColumns[0].id"
             ng-click="deleteData()">Delete</a>
        </p>

      </form>
    </div>
  </div>
</div>


