<div ng-controller="MenuCtrl" ng-init="menu = { dataset: isMenuActive('dataset'), chart: isMenuActive('chart')}" ng-cloak>
  <tabset class="menu">
    <tab active="menu.dataset" ng-click = "goNext('/dataset')">
      <tab-heading>
        <span><i class="glyphicon glyphicon-hdd"></i> DataSets</span>
      </tab-heading>
      <ul class="nav nav-pills nav-stacked" data-active="{{current_dataset}}">
          <li ng-repeat="dataset in datasets" ng-click="setActive(dataset.id)" ng-class="{ active: isActive(dataset.id) }" data-id="{{dataset.id}}">
            <a href="#/dataset/edit/{{dataset.id}}">
              <span>{{dataset.title||dataset.id}}<span>
            </a>
          </li>
      </ul> 
      <button class="btn btn-default btn-sm" ng-click="goNext('/dataset/create')"> Create </a></button>
    </tab>
    <tab active="menu.chart" ng-click = "goNext('/chart')">
      <tab-heading >
        <span><i class="glyphicon glyphicon-stats"></i> Charts</span>
      </tab-heading>
      <ul class="nav nav-pills nav-stacked" data-active="{{current_dataset}}">
          <li ng-repeat="(key, chart) in charts" ng-click="setActive(chart.id)" ng-class="{ active: isActive(chart.id) }" data-id="{{chart.id}}">
            <a href="#/chart/edit/{{key}}">
              <span>{{chart.config.title||chart.id}}<span>
            </a>
          </li>
      </ul> 
      <button class="btn btn-default btn-sm" ng-click="goNext('/chart/create')"> Create </a></button>
    </tab>
  </tabset>
</div>