
 <div ng-controller="NgTableCtrl" style="overflow:auto;">
    <span>{{data.length}} items<span>
    <table id="dataset_tableview" ng-table="tableParams" class="table" >
      <thead>
          <tr ng-init="titlestmp={}">
            <th style="text-align:left">
                <button ng-if="!titlestmp.$edit" href="" class="btn btn-default btn-sm" ng-click="titlestmp.$edit = true"><span class="glyphicon glyphicon-pencil"></span> Edit Titles</button>
                <a ng-if="titlestmp.$edit" href="" class="btn btn-primary btn-sm" ng-click="titlestmp.$edit = false">Save</a>
            </th>
            <th ng-repeat="title in titles">
                <span ng-if="!titlestmp.$edit">{{title.title}}</span>
                <div ng-if="titlestmp.$edit"><input class="form-control" type="text" ng-model="title.title"/></div>
            </th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="(key,row) in $data">
            <td data-title="'Actions'" width="100">
                <a ng-if="!row.$edit" href="" class="btn btn-default btn-sm" ng-click="row.$edit = true"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-if="row.$edit" href="" class="btn btn-primary btn-sm" ng-click="row.$edit = false">Save</a>
            </td>
            <td ng-repeat="col in row track by $index">
                <span ng-if="!row.$edit">{{col}}</span>
                <div ng-if="row.$edit"><input class="form-control" type="text" ng-model="$data[key][$index]"/></div>
            </td>
          </tr>
      </tbody>
    </table>
</div>